2020/old/2017_18/ПИ320/ConsoleClientProductService/ConsoleClientProductService/Connected Services/ProductServiceRef/ProductService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebStoreWithAuth.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebStoreWithAuth.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductWrapper" nillable="true" type="tns:ProductWrapper" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductWrapper" nillable="true" type="tns:ArrayOfProductWrapper" />
  <xs:complexType name="ProductWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductWrapper" nillable="true" type="tns:ProductWrapper" />
</xs:schema>